<?xml version="1.0"?>
<robot name="gluon" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gluon_arm">
        <!-- Base Link -->
        <xacro:property name="base_link1_inertial_origin" value="0 0 0.0271404483614374"/>
        <xacro:property name="base_link1_inertial_mass" value="0.524001417146026"/>
        <xacro:property name="base_link1_inertial_ixx" value="0.000535467082580035"/>
        <xacro:property name="base_link1_inertial_ixy" value="-5.8056109802237E-10"/>
        <xacro:property name="base_link1_inertial_ixz" value="3.22416889484249E-20"/>
        <xacro:property name="base_link1_inertial_iyy" value="0.000535467122847014"/>
        <xacro:property name="base_link1_inertial_iyz" value="-1.91837356854663E-11"/>
        <xacro:property name="base_link1_inertial_izz" value="0.000799852045598815"/>
        <xacro:property name="base_link1_visual_origin" value="0 0 0"/>
        <xacro:property name="base_link1_collision_origin" value="0 0 0"/>
        <xacro:property name="base_link1_mesh_filename" value="package://myworkcell_support/urdf/meshes/base_link.STL"/>

        <link name="base_link1">
            <inertial>
                <origin xyz="${base_link1_inertial_origin}" rpy="0 0 0"/>
                <mass value="${base_link1_inertial_mass}"/>
                <inertia ixx="${base_link1_inertial_ixx}" ixy="${base_link1_inertial_ixy}" ixz="${base_link1_inertial_ixz}"
                        iyy="${base_link1_inertial_iyy}" iyz="${base_link1_inertial_iyz}" izz="${base_link1_inertial_izz}"/>
            </inertial>
            <visual>
                <origin xyz="${base_link1_visual_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${base_link1_mesh_filename}"/>
                </geometry>
                <material name="white"/>
            </visual>
            <collision>
                <origin xyz="${base_link1_collision_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${base_link1_mesh_filename}"/>
                </geometry>
            </collision>
        </link>

        <!-- Link 1 -->
        <xacro:property name="link1_inertial_origin" value="0.00464247258603146 -3.55800695980568E-05 -0.000556506974114818"/>
        <xacro:property name="link1_inertial_mass" value="0.166259789544396"/>
        <xacro:property name="link1_inertial_ixx" value="6.76518298922659E-05"/>
        <xacro:property name="link1_inertial_ixy" value="-1.5556489245956E-08"/>
        <xacro:property name="link1_inertial_ixz" value="-8.15879264327807E-06"/>
        <xacro:property name="link1_inertial_iyy" value="6.70385565720365E-05"/>
        <xacro:property name="link1_inertial_iyz" value="4.11369338798553E-08"/>
        <xacro:property name="link1_inertial_izz" value="6.03698353342124E-05"/>
        <xacro:property name="link1_visual_origin" value="0 0 0"/>
        <xacro:property name="link1_collision_origin" value="0 0 0"/>
        <xacro:property name="link1_mesh_filename" value="package://myworkcell_support/urdf/meshes/1_Link.STL"/>

        <link name="1_Link">
            <inertial>
                <origin xyz="${link1_inertial_origin}" rpy="0 0 0"/>
                <mass value="${link1_inertial_mass}"/>
                <inertia ixx="${link1_inertial_ixx}" ixy="${link1_inertial_ixy}" ixz="${link1_inertial_ixz}"
                        iyy="${link1_inertial_iyy}" iyz="${link1_inertial_iyz}" izz="${link1_inertial_izz}"/>
            </inertial>
            <visual>
                <origin xyz="${link1_visual_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${link1_mesh_filename}"/>
                </geometry>
                <material name="white"/>
            </visual>
            <collision>
                <origin xyz="${link1_collision_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${link1_mesh_filename}"/>
                </geometry>
            </collision>
        </link>

        <!-- Joint: axis_joint_1 -->
        <xacro:property name="axis_joint_1_origin" value="-2.4327E-05 2.2695E-05 0.105"/>
        <xacro:property name="axis_joint_1_type" value="revolute"/>
        <xacro:property name="axis_joint_1_axis_xyz" value="0 0 -1"/>
        <xacro:property name="axis_joint_1_limit_lower" value="-2.79"/>
        <xacro:property name="axis_joint_1_limit_upper" value="2.79"/>
        <xacro:property name="axis_joint_1_limit_effort" value="30"/>
        <xacro:property name="axis_joint_1_limit_velocity" value="3.14"/>

        <joint name="axis_joint_1" type="${axis_joint_1_type}">
            <origin xyz="${axis_joint_1_origin}" rpy="0 0 0"/>
            <parent link="base_link1"/>
            <child link="1_Link"/>
            <axis xyz="${axis_joint_1_axis_xyz}"/>
            <limit lower="${axis_joint_1_limit_lower}" upper="${axis_joint_1_limit_upper}"
                effort="${axis_joint_1_limit_effort}" velocity="${axis_joint_1_limit_velocity}"/>
        </joint>

        <!-- Link 2 -->
        <xacro:property name="link2_inertial_origin" value="-0.00354399449686532 6.83167072432211E-06 0.0535596075762168"/>
        <xacro:property name="link2_inertial_mass" value="0.316094041078938"/>
        <xacro:property name="link2_inertial_ixx" value="0.000174638310500152"/>
        <xacro:property name="link2_inertial_ixy" value="-4.1835416811351E-08"/>
        <xacro:property name="link2_inertial_ixz" value="-2.08841744154906E-07"/>
        <xacro:property name="link2_inertial_iyy" value="0.000184936237600061"/>
        <xacro:property name="link2_inertial_iyz" value="1.60668786323061E-08"/>
        <xacro:property name="link2_inertial_izz" value="0.000107780595065675"/>
        <xacro:property name="link2_visual_origin" value="0 0 0"/>
        <xacro:property name="link2_collision_origin" value="0 0 0"/>
        <xacro:property name="link2_mesh_filename" value="package://myworkcell_support/urdf/meshes/2_Link.STL"/>

        <link name="2_Link">
            <inertial>
                <origin xyz="${link2_inertial_origin}" rpy="0 0 0"/>
                <mass value="${link2_inertial_mass}"/>
                <inertia ixx="${link2_inertial_ixx}" ixy="${link2_inertial_ixy}" ixz="${link2_inertial_ixz}"
                        iyy="${link2_inertial_iyy}" iyz="${link2_inertial_iyz}" izz="${link2_inertial_izz}"/>
            </inertial>
            <visual>
                <origin xyz="${link2_visual_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${link2_mesh_filename}"/>
                </geometry>
                <material name="white"/>
            </visual>
            <collision>
                <origin xyz="${link2_collision_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${link2_mesh_filename}"/>
                </geometry>
            </collision>
        </link>

        <!-- Joint: axis_joint_2 -->
        <xacro:property name="axis_joint_2_origin" value="0.080113 -2.2695E-05 0"/>
        <xacro:property name="axis_joint_2_type" value="revolute"/>
        <xacro:property name="axis_joint_2_axis_xyz" value="-1 0 0"/>
        <xacro:property name="axis_joint_2_limit_lower" value="-1.54"/>
        <xacro:property name="axis_joint_2_limit_upper" value="1.54"/>
        <xacro:property name="axis_joint_2_limit_effort" value="30"/>
        <xacro:property name="axis_joint_2_limit_velocity" value="3.14"/>

        <joint name="axis_joint_2" type="${axis_joint_2_type}">
            <origin xyz="${axis_joint_2_origin}" rpy="0 0 0"/>
            <parent link="1_Link"/>
            <child link="2_Link"/>
            <axis xyz="${axis_joint_2_axis_xyz}"/>
            <limit lower="${axis_joint_2_limit_lower}" upper="${axis_joint_2_limit_upper}"
                effort="${axis_joint_2_limit_effort}" velocity="${axis_joint_2_limit_velocity}"/>
        </joint>

        <!-- Link 3 -->
        <xacro:property name="link3_inertial_origin" value="-0.046552753550141 -6.68259662081616E-06 0.0523242797053055"/>
        <xacro:property name="link3_inertial_mass" value="0.323135746651779"/>
        <xacro:property name="link3_inertial_ixx" value="0.000176611314431077"/>
        <xacro:property name="link3_inertial_ixy" value="4.18325643591624E-08"/>
        <xacro:property name="link3_inertial_ixz" value="2.08841259569185E-07"/>
        <xacro:property name="link3_inertial_iyy" value="0.000185932099122903"/>
        <xacro:property name="link3_inertial_iyz" value="1.40317731158265E-08"/>
        <xacro:property name="link3_inertial_izz" value="0.000108776454638344"/>
        <xacro:property name="link3_visual_origin" value="0 0 0"/>
        <xacro:property name="link3_collision_origin" value="0 0 0"/>
        <xacro:property name="link3_mesh_filename" value="package://myworkcell_support/urdf/meshes/3_Link.STL"/>

        <link name="3_Link">
            <inertial>
                <origin xyz="${link3_inertial_origin}" rpy="0 0 0"/>
                <mass value="${link3_inertial_mass}"/>
                <inertia ixx="${link3_inertial_ixx}" ixy="${link3_inertial_ixy}" ixz="${link3_inertial_ixz}"
                        iyy="${link3_inertial_iyy}" iyz="${link3_inertial_iyz}" izz="${link3_inertial_izz}"/>
            </inertial>
            <visual>
                <origin xyz="${link3_visual_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${link3_mesh_filename}"/>
                </geometry>
                <material name="white"/>
            </visual>
            <collision>
                <origin xyz="${link3_collision_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${link3_mesh_filename}"/>
                </geometry>
            </collision>
        </link>

        <!-- Joint: axis_joint_3 -->
        <xacro:property name="axis_joint_3_origin" value="0 0 0.17447"/>
        <xacro:property name="axis_joint_3_type" value="revolute"/>
        <xacro:property name="axis_joint_3_axis_xyz" value="1 0 0"/>
        <xacro:property name="axis_joint_3_limit_lower" value="-2.79"/>
        <xacro:property name="axis_joint_3_limit_upper" value="2.79"/>
        <xacro:property name="axis_joint_3_limit_effort" value="30"/>
        <xacro:property name="axis_joint_3_limit_velocity" value="3.14"/>

        <joint name="axis_joint_3" type="${axis_joint_3_type}">
            <origin xyz="${axis_joint_3_origin}" rpy="0 0 0"/>
            <parent link="2_Link"/>
            <child link="3_Link"/>
            <axis xyz="${axis_joint_3_axis_xyz}"/>
            <limit lower="${axis_joint_3_limit_lower}" upper="${axis_joint_3_limit_upper}"
                effort="${axis_joint_3_limit_effort}" velocity="${axis_joint_3_limit_velocity}"/>
        </joint>

        <!-- Link 4 -->
        <xacro:property name="link4_inertial_origin" value="0.0182269184920331 1.24412678982888E-05 0.00395855146065832"/>
        <xacro:property name="link4_inertial_mass" value="0.174947986817189"/>
        <xacro:property name="link4_inertial_ixx" value="6.61039276820243E-05"/>
        <xacro:property name="link4_inertial_ixy" value="4.2340099438174E-08"/>
        <xacro:property name="link4_inertial_ixz" value="-8.15879264340351E-06"/>
        <xacro:property name="link4_inertial_iyy" value="6.76311730651952E-05"/>
        <xacro:property name="link4_inertial_iyz" value="-1.4353323683088E-08"/>
        <xacro:property name="link4_inertial_izz" value="6.34296690009448E-05"/>
        <xacro:property name="link4_visual_origin" value="0 0 0"/>
        <xacro:property name="link4_collision_origin" value="0 0 0"/>
        <xacro:property name="link4_mesh_filename" value="package://myworkcell_support/urdf/meshes/4_Link.STL"/>

        <link name="4_Link">
            <inertial>
                <origin xyz="${link4_inertial_origin}" rpy="0 0 0"/>
                <mass value="${link4_inertial_mass}"/>
                <inertia ixx="${link4_inertial_ixx}" ixy="${link4_inertial_ixy}" ixz="${link4_inertial_ixz}"
                        iyy="${link4_inertial_iyy}" iyz="${link4_inertial_iyz}" izz="${link4_inertial_izz}"/>
            </inertial>
            <visual>
                <origin xyz="${link4_visual_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${link4_mesh_filename}"/>
                </geometry>
                <material name="white"/>
            </visual>
            <collision>
                <origin xyz="${link4_collision_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${link4_mesh_filename}"/>
                </geometry>
            </collision>
        </link>

        <!-- Joint: axis_joint_4 -->
        <xacro:property name="axis_joint_4_origin" value="-0.084516 0 0.17442"/>
        <xacro:property name="axis_joint_4_type" value="revolute"/>
        <xacro:property name="axis_joint_4_axis_xyz" value="-1 0 0"/>
        <xacro:property name="axis_joint_4_limit_lower" value="-2.79"/>
        <xacro:property name="axis_joint_4_limit_upper" value="2.79"/>
        <xacro:property name="axis_joint_4_limit_effort" value="30"/>
        <xacro:property name="axis_joint_4_limit_velocity" value="3.14"/>

        <joint name="axis_joint_4" type="${axis_joint_4_type}">
            <origin xyz="${axis_joint_4_origin}" rpy="0 0 0"/>
            <parent link="3_Link"/>
            <child link="4_Link"/>
            <axis xyz="${axis_joint_4_axis_xyz}"/>
            <limit lower="${axis_joint_4_limit_lower}" upper="${axis_joint_4_limit_upper}"
                effort="${axis_joint_4_limit_effort}" velocity="${axis_joint_4_limit_velocity}"/>
        </joint>

        <!-- Link 5 -->
        <xacro:property name="link5_inertial_origin" value="0.00395855202736296 -3.51379306736399E-05 0.0182025903111476"/>
        <xacro:property name="link5_inertial_mass" value="0.174947985033356"/>
        <xacro:property name="link5_inertial_ixx" value="6.34296685392068E-05"/>
        <xacro:property name="link5_inertial_ixy" value="1.43441999593359E-08"/>
        <xacro:property name="link5_inertial_ixz" value="-8.15879467982627E-06"/>
        <xacro:property name="link5_inertial_iyy" value="6.76311733496419E-05"/>
        <xacro:property name="link5_inertial_iyz" value="-4.23418981680198E-08"/>
        <xacro:property name="link5_inertial_izz" value="6.61039240611986E-05"/>
        <xacro:property name="link5_visual_origin" value="0 0 0"/>
        <xacro:property name="link5_collision_origin" value="0 0 0"/>
        <xacro:property name="link5_mesh_filename" value="package://myworkcell_support/urdf/meshes/5_Link.STL"/>

        <link name="5_Link">
            <inertial>
                <origin xyz="${link5_inertial_origin}" rpy="0 0 0"/>
                <mass value="${link5_inertial_mass}"/>
                <inertia ixx="${link5_inertial_ixx}" ixy="${link5_inertial_ixy}" ixz="${link5_inertial_ixz}"
                        iyy="${link5_inertial_iyy}" iyz="${link5_inertial_iyz}" izz="${link5_inertial_izz}"/>
            </inertial>
            <visual>
                <origin xyz="${link5_visual_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${link5_mesh_filename}"/>
                </geometry>
                <material name="white"/>
            </visual>
            <collision>
                <origin xyz="${link5_collision_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${link5_mesh_filename}"/>
                </geometry>
            </collision>
        </link>

        <!-- Joint: axis_joint_5 -->
        <xacro:property name="axis_joint_5_origin" value="0.080113 2.2695E-05 0"/>
        <xacro:property name="axis_joint_5_type" value="revolute"/>
        <xacro:property name="axis_joint_5_axis_xyz" value="0 0 -1"/>
        <xacro:property name="axis_joint_5_limit_lower" value="-2.79"/>
        <xacro:property name="axis_joint_5_limit_upper" value="2.79"/>
        <xacro:property name="axis_joint_5_limit_effort" value="30"/>
        <xacro:property name="axis_joint_5_limit_velocity" value="3.14"/>

        <joint name="axis_joint_5" type="${axis_joint_5_type}">
            <origin xyz="${axis_joint_5_origin}" rpy="0 0 0"/>
            <parent link="4_Link"/>
            <child link="5_Link"/>
            <axis xyz="${axis_joint_5_axis_xyz}"/>
            <limit lower="${axis_joint_5_limit_lower}" upper="${axis_joint_5_limit_upper}"
                effort="${axis_joint_5_limit_effort}" velocity="${axis_joint_5_limit_velocity}"/>
        </joint>

        <!-- Link 6 -->
        <xacro:property name="link6_inertial_origin" value="-0.00231632591813243 4.03819823737578E-05 -5.08515816782795E-05"/>
        <xacro:property name="link6_inertial_mass" value="0.122091979083374"/>
        <xacro:property name="link6_inertial_ixx" value="3.76561532469651E-05"/>
        <xacro:property name="link6_inertial_ixy" value="4.18325643595058E-08"/>
        <xacro:property name="link6_inertial_ixz" value="-2.08841259371089E-07"/>
        <xacro:property name="link6_inertial_iyy" value="4.00422747874576E-05"/>
        <xacro:property name="link6_inertial_iyz" value="-1.50489542382975E-08"/>
        <xacro:property name="link6_inertial_izz" value="3.97966719504564E-05"/>
        <xacro:property name="link6_visual_origin" value="0 0 0"/>
        <xacro:property name="link6_collision_origin" value="0 0 0"/>
        <xacro:property name="link6_mesh_filename" value="package://myworkcell_support/urdf/meshes/6_Link.STL"/>

        <link name="6_Link">
            <inertial>
                <origin xyz="${link6_inertial_origin}" rpy="0 0 0"/>
                <mass value="${link6_inertial_mass}"/>
                <inertia ixx="${link6_inertial_ixx}" ixy="${link6_inertial_ixy}" ixz="${link6_inertial_ixz}"
                        iyy="${link6_inertial_iyy}" iyz="${link6_inertial_iyz}" izz="${link6_inertial_izz}"/>
            </inertial>
            <visual>
                <origin xyz="${link6_visual_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${link6_mesh_filename}"/>
                </geometry>
                <material name="white"/>
            </visual>
            <collision>
                <origin xyz="${link6_collision_origin}" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="${link6_mesh_filename}"/>
                </geometry>
            </collision>
        </link>

        <!-- Joint: axis_joint_6 -->
        <xacro:property name="axis_joint_6_origin" value="0 -4.5391E-05 0.080089"/>
        <xacro:property name="axis_joint_6_type" value="revolute"/>
        <xacro:property name="axis_joint_6_axis_xyz" value="-1 0 0"/>
        <xacro:property name="axis_joint_6_limit_lower" value="-2.79"/>
        <xacro:property name="axis_joint_6_limit_upper" value="2.79"/>
        <xacro:property name="axis_joint_6_limit_effort" value="30"/>
        <xacro:property name="axis_joint_6_limit_velocity" value="3.14"/>

        <joint name="axis_joint_6" type="${axis_joint_6_type}">
            <origin xyz="${axis_joint_6_origin}" rpy="0 0 0"/>
            <parent link="5_Link"/>
            <child link="6_Link"/>
            <axis xyz="${axis_joint_6_axis_xyz}"/>
            <limit lower="${axis_joint_6_limit_lower}" upper="${axis_joint_6_limit_upper}"
                effort="${axis_joint_6_limit_effort}" velocity="${axis_joint_6_limit_velocity}"/>
        </joint>

        <link name="gripper_main">
    <visual>
      <origin xyz="0 0.035 0.12" rpy="0 0 -1.57" />
      <geometry>
        <mesh filename="package://gluon/meshes/New_Gripper_2024_v2_no Camera.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  </link>

    </xacro:macro>
</robot>